.starwars-container {
  position: relative;
  color: #fff;
  font-size: 48px;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.starwars-wrapper {
  position: relative;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  margin-top: -68px;
}
.starwars-wrapper p:first-child {
  position: relative;
}
.starwars-wrapper p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  white-space: nowrap;
  margin: 0 0 10px;
}
