.technology {
  display: flex;
  flex: 1;
}
.background {
  background-image: url("http://www.feedmusic.com/images/presentation-background.jpg");
  width: 100%;
  height: 100%;
  transition: all 36s ease-out;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  transform: scale(1.4);
}
