.technology {
  display: flex;
  flex: 1;
}

.background {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/presentation-background.jpg');
  transition: all 36s ease-out;
  background-size: cover;
  background-position: 50% 50%;
  transform: scale(1.4);
}
